
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(238, 238, 238);
  font-family: 'IM Fell English SC', serif !important;
}

.gifback{
  background-image: url(https://www.wallpapertip.com/wmimgs/33-334914_8-bit-wallpaper-tablet-src-8-bit-wallpaper.jpg);
  object-fit: fill;
}

main {
 flex-grow: 1;
}

.footer{
  background-image: linear-gradient(transparent ,rgb(236, 236, 236) );
  height: 5vh;
}

.backboard{
  width: auto;
  height: 80%;
object-fit: cover;

}

.header{
  background-image: linear-gradient(rgb(236, 236, 236), transparent);
  height: 5vh;
}

.cardsback{
  background: rgb(81, 133, 201);

}

.monstersize{
  height: 40em;
  width: 50em;
}

@media only screen and (max-width: 800px) {

  .backboard{
    width: 40vh;
    height: 40vh;
  object-fit: cover;
  }

  .gifback{
    background-image: url();
    background-color: rgb(100, 187, 245);
    object-fit: fill;
  }
 .buttonsmobile{

  flex: auto;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
 flex-shrink: 1;;

 }

 .flexrow {
   display: flex;
   flex-direction: row !important;
   ;
 }

 .margincard{
   margin-top: 6em !important;
 }

 .newhouse {
   font-size: 0.8em;
 }
}
